/**
 * CSS styling for the compose window.
 */

//@import "./compose-key-selector";

@import "../overlays";

.encrypt-btn {
  background-color:$messagegaurd-green;
  border-color:$messagegaurd-green;
  color:#ffffff;
}

.recipients-input {
  @extend .input-group;
}

#large-recipients-container {
  margin:0.25em;
  display: flex;
}

#large-editor {
  color: white;
  outline: none;
  white-space: pre-wrap;

  overflow: auto !important;

  margin: 0.5em;
}

#large-format-bar {
  @extend .btn-toolbar;
}

.format-btn-group-size {
  @extend .btn-group-sm;
}

#align-menu {
  min-width: 40px;
}

#large-top-finalize {
  display: none;
  margin: 0.25em;
}

#large-finalize {
  display: inline;
}

#large-finalize-bar {
  position: absolute;
  bottom: 0;
  left: 0px;

  width: 100%;

  .btn-toolbar {
    margin: 0em;
  }
}

#small-editor {
  margin-left: 2em;
  color: white;
  background-color: $messagegaurd-background;
  outline: none;

  br {
   display: none;
  }

  div {
    display: inline;
  }

  overflow: auto !important;
  white-space: nowrap;
}


#small-finalize-container {
  position:absolute;
  right:0;
  height: 100%;
  width: 50px !important;
}

#small-finalize {
  @extend .center-vertical;
}

#small {
  margin: 0.1em;
  height: 100%;
  width:100%;
  height:100%;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

#small-recipients-container {
  @extend .center-vertical;
  margin-right: 0.5em;
}

.rightMenu {
 position:relative;
 float:right;
}

#large-key-list {
  li a:hover {
    background-color: $list-hover !important;
  }
}

#small-key-list {
  position:absolute;
  left:2em;
  top:0;
  padding:0.5em;
  padding-right:23px;
  margin-top:0.1em;
  margin-bottom:0.1em;
  background-color:white;
  overflow-y:auto !important;
  z-index:2;
  width: 150px;
  div:hover {
    background-color: $list-hover;
  }
  div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.key-list-selected-item {
  background-color: $list-item-selected;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: default !important;
}

#large-bottom-condensed-finalize, #top-finalize-btn-group, #large-format-bar,
#attachments-container, #small, #small-to, #too-small,
#attach-btn, #small-key-list, #large-add-key, #large-add-key-separator,
#small-add-key, #small-add-key-separator  {
  display: none;
}

//Too small for MessageGuard
@media (max-height: 29px), (max-width: 150px) {
  body {
    background-color: #8b0000 !important;
  }
  #large {
    display: none !important;
  }
  #small {
    display: none !important;
  }
  #too-small {
    display: flex;
  }
}

//MED HEIGHT -- MED-LARGE WIDTH (Only show top bar)
@media (max-height: 150px) {
  #large-finalize-bar {
    display: none;
  }
  #large-top-finalize{
    display: flex;
  }
}

//Small horizontally focused view
@media (max-height: 75px) {
  #large {
    display: none;
  }
  #small {
    display: flex;
  }
  #message-mask {
    font-size:14px ;
  }
}

@media (max-height: 75px) and (max-width: 600px) {
  #message-mask {
    font-size:10px ;
  }
}

@media (max-width: 325px) and (max-height: 75px){
  #message-mask {
    font-size:8px ;
  }
}

//Width too small for full bottom button bar
@media (max-width: 245px) {
  #large-finalize {
    display: none;
  }
  #large-bottom-condensed-finalize {
    display: inline;
  }
}
