/**
 * Common styling that all our pages shares.
 */

// Fix paths.
$fa-font-path: "../../fonts" !default;
$icon-font-path: "../../fonts/" !default;
$sprite-img-path: "../../img" !default;

// Import common styles.
@import "message-guard";

$messagegaurd-background: #2C3E50;
$messagegaurd-green: #18bc9c;
$messagegaurd-dark-bg: #1a242f;
$message-link: #4FE5C8;
$message-link-hover: #18bc9c;
$message-normal-color: rgb(44,62,80);
$message-err-color: rgb(139,0,0);
$message-bg-transparency: 0.80;
$list-hover: #e2e2e2;
$list-item-selected: #add8e6;

html,
body {
  background-color: $messagegaurd-background;
  margin: 0 auto;
  height: 100%;
  margin: 0;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

/* Fixes for blockquote in bootstrap */
blockquote {
  font-size: inherit !important;
}

a {
  color: $message-link;
  text-decoration: none;

  &:visited, &:link {
    color: $message-link;
  }

  &:hover, &:active {
    color: $message-link-hover;
    text-decoration: underline;
  }
}

.center-vertical {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal {
  display: block;
  margin: 0 auto;

  max-width: 500px;
  padding-top: 20px;

  text-align: center;
}

.center-vertical-horizontal {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) !important;
}

#too-small {
  display: none;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size:10px;
  z-index:150 !important;
}

#message-mask {
  display: none;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000 !important;
  font-size: 20px;

  background-color: rgba($message-normal-color,$message-bg-transparency);
  color:white;

  &.error-message {
    background-color: rgba($message-err-color,$message-bg-transparency);
  }
}

.tutorial-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #000;
  opacity: 0.5;
}

.tutorial-focus {
  position: relative ! important;
  z-index: 1001 ! important;
  box-shadow: 0px 0px 90px #FFFDBC ! important;
  background-color: #fff ! important;
  opacity: 1 ! important;
}

#small .tutorial-focus {
  box-shadow: 0px 0px 15px #FFFFFF;
  padding: 2px;
  border: 2px solid white;
  border-radius: 5px;
}
